# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Environment variables
.env

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log